In [1]:
from dsc106_utils import *

In [2]:
mpg = sns.load_dataset('mpg').dropna()
mpg

,mpg,cylinders,displacement,horsepower,...,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,...,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,...,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,...,11.0,70,usa,plymouth satellite
...,...,...,...,...,...,...,...,...,...
395,32.0,4,135.0,84.0,...,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,...,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,...,19.4,82,usa,chevy s-10

In [3]:
mpg['origin'].value_counts().reset_index()

   origin  count
0     usa    245
1   japan     79
2  europe     68

## Nimble design moves

In [ ]:
px.bar(
    mpg['origin'].value_counts().reset_index(),
    x='origin',
    y='count',
)

## 1 Nominal, 1 Quantitative

In [ ]:
px.bar(
    mpg['origin'].value_counts().reset_index(),
    x='origin',
    y='count',
)

## Encoding 3 variables

In [ ]:
px.scatter(
    mpg,
    x='horsepower',
    y='mpg',
)

In [ ]:
occ = mpg.groupby(['origin', 'cylinders']).size().rename('count').reset_index()
occ

In [ ]:
px.bar(
    occ,
    x='count',
    y='origin',
    color='cylinders',
)

In [ ]:
omc = mpg.groupby(['origin', 'model_year']).size().rename('count').reset_index()
omc

In [ ]:
px.line(
    omc,
    x='model_year',
    y='count',
    color='origin'
)

## What about 4 channels?

In [ ]:
mpg

In [ ]:
means = (mpg
 .groupby(['origin', 'model_year'])
 ['mpg']
 .max()
 .reset_index()
)
means

In [ ]:
px.scatter(
    means,
    x='model_year',
    y='origin',
    color='origin', # redundant encoding!
    size='mpg',
)